<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AutonomyReportProject</display-name>
  <welcome-file-list>
    <welcome-file>pages/start.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>get2DMapList</display-name>
    <servlet-name>get2DMapList</servlet-name>
    <servlet-class>servlet.get2DMapList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get2DMapList</servlet-name>
    <url-pattern>/pages/get2DMapList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getSpectroList</display-name>
    <servlet-name>getSpectroList</servlet-name>
    <servlet-class>servlet.getSpectroList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSpectroList</servlet-name>
    <url-pattern>/pages/getSpectroList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getJobList</display-name>
    <servlet-name>getJobList</servlet-name>
    <servlet-class>servlet.getJobList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getJobList</servlet-name>
    <url-pattern>/pages/getJobList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getJobList</servlet-name>
    <url-pattern>/getJobList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getJobList</servlet-name>
    <url-pattern>/pages/social/getJobList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCategory</display-name>
    <servlet-name>ManageCategory</servlet-name>
    <servlet-class>servlet.ManageCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCategory</servlet-name>
    <url-pattern>/pages/ManageCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCluster</display-name>
    <servlet-name>ManageCluster</servlet-name>
    <servlet-class>servlet.ManageCluster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCluster</servlet-name>
    <url-pattern>/pages/ManageCluster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetContent</display-name>
    <servlet-name>GetContent</servlet-name>
    <servlet-class>servlet.GetContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContent</servlet-name>
    <url-pattern>/pages/snapShot/GetContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetContent</servlet-name>
    <url-pattern>/pages/category/GetContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetContent</servlet-name>
    <url-pattern>/pages/GetContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCombo</display-name>
    <servlet-name>ManageCombo</servlet-name>
    <servlet-class>servlet.ManageCombo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCombo</servlet-name>
    <url-pattern>/ManageCombo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageCombo</servlet-name>
    <url-pattern>/pages/ManageCombo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTroika</display-name>
    <servlet-name>ManageTroika</servlet-name>
    <servlet-class>servlet.ManageTroika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTroika</servlet-name>
    <url-pattern>/pages/ManageTroika</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageRealTime</display-name>
    <servlet-name>ManageRealTime</servlet-name>
    <servlet-class>servlet.ManageRealTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageRealTime</servlet-name>
    <url-pattern>/pages/ManageRealTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStruttura</display-name>
    <servlet-name>ManageStruttura</servlet-name>
    <servlet-class>servlet.ManageStruttura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStruttura</servlet-name>
    <url-pattern>/pages/ManageStruttura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/pages/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAdmin</display-name>
    <servlet-name>ManageAdmin</servlet-name>
    <servlet-class>servlet.ManageAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAdmin</servlet-name>
    <url-pattern>/pages/ManageAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSocial</display-name>
    <servlet-name>ManageSocial</servlet-name>
    <servlet-class>servlet.ManageSocial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSocial</servlet-name>
    <url-pattern>/pages/ManageSocial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageExcel</display-name>
    <servlet-name>ManageExcel</servlet-name>
    <servlet-class>servlet.ManageExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageExcel</servlet-name>
    <url-pattern>/pages/ManageExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUser</display-name>
    <servlet-name>ManageUser</servlet-name>
    <servlet-class>servlet.ManageUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUser</servlet-name>
    <url-pattern>/ManageUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUser</servlet-name>
    <url-pattern>/pages/ManageUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUser</servlet-name>
    <url-pattern>/pages/user/ManageUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ManageGraph</display-name>
    <servlet-name>ManageGraph</servlet-name>
    <servlet-class>servlet.ManageGraph</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageGraph</servlet-name>
    <url-pattern>/pages/ManageGraph</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Private</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>webApp</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Public</web-resource-name>
      <url-pattern>/css/*</url-pattern>
      <url-pattern>/img/*</url-pattern>
      <url-pattern>/js/jquery-1.9.1.min.js</url-pattern>
      <url-pattern>/js/jquery.vegas.js</url-pattern>
      <url-pattern>/js/script-login.js</url-pattern>
      <url-pattern>/pages/header.jsp</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-role>
    <role-name>webApp</role-name>
  </security-role>
  <resource-ref>
    <description>Principal</description>
    <res-ref-name>jdbc/report</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Pentaho Consumer</description>
    <res-ref-name>jdbc/penthao</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>Pentaho Corporate</description>
    <res-ref-name>jdbc/penthaoCorp</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginFailed.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <filter>
    <display-name>EnchodingFilter</display-name>
    <filter-name>EnchodingFilter</filter-name>
    <filter-class>servlet.EnchodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EnchodingFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>utility.AppServletContextListener</listener-class>
  </listener>
</web-app>